.accommodation {
  text-align: center;
  padding: 3rem 0; 
  
  h2 {
    padding: 2rem;
  }
} 

.accommodation__section {  
  position: relative; 
  margin-bottom: 4rem;  

  .accommodation__card {
    max-width: 500px;
    margin: 0 auto;
    
    .accommodation__image {
      transform: translate(-5%, -5%);
      transition: all 1s;
      
      &:hover {
        transform: translate(5%, 5%);
      }
    }    
    .accommodation__details {
      padding: 3rem;

      h3 {
        border-bottom: 1px solid $dark-color;
      }
    }    
  }
}