.main__container {
  max-width: $mobile-width;
  margin: 0 auto;
  
  @include media-md {
    max-width: $website-width;
  }
}


//**************hero**************
.hero {
  text-align: center;
  margin: 5rem 0;

  &__img {
    padding: 3rem 0;

    img {
      max-width: 500px;
    }
  } 

  &__text {
    background: $tertiary-color;
    padding: 2rem;
  }
}


//****************about***************
.about {
  background: $tertiary-color-light;
  margin: 5rem 0;

  &__text {
    padding: 2rem;
    text-align: center;

    @include media-md {
      padding: 2rem 4rem;
    }

    p {
      padding-bottom: 2rem;    
    }

    .banner {
      @include banner;
      
      .link {
        @include btn-link;
        padding: 1rem 3rem;

        &:hover {
          background: $primary-color; 
          color: $secondary-color;
        }
      } 
    }
  }
}

//************services****************
.services {
  background: $tertiary-color;
  margin-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;

  h2 {    
    padding-top: 2rem;
  }

  &__card {
    margin: 2rem 1rem;
    background: $light-color;
    border: 1px solid $primary-color;
    box-shadow: 2px 2px 2px $primary-color;
    border-radius: 5px;
    padding: 2rem;
    transition: all .3s ease-in-out;
    
    @include media-md {
      margin: 2rem 4rem;
    }

    &:nth-child(even) a {
      flex-direction: row-reverse;
    }

    a {      
      @include media-lg {
        display: flex;
        justify-content: center;
        align-items: center;   
      }   
    }  

    &:hover {
      transform: scale(1.02);
    }

    p {
      font-size: 1.2rem;
      padding-bottom: 2rem;   
      
      @include media-lg {
        padding: 0 5rem;
        font-size: 1.3rem;
      }
    }    
  }
}


//************contact****************
.contact {  
  height: 500px;
  margin-top: 4rem;
  text-align: center;

  @include media-md {
    height: 400px;
  }
  
  .contact__items {
    @include media-md {
      @include flexCenter(row);
    }       
  }
  
  h2 {
    padding: 2rem;
  }

  .item {
    padding: 2rem; 
    
    i {
       color: $secondary-color;
       transition: all .3s ease-in;

       &:hover {
         color: $primary-color;
         cursor: pointer;
       }
     }   
  
    .item-detail {
      padding-top: 1rem;
      font-weight: 600;
    }
  }
}
