@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin btn-link {
  color: $primary-color;
  text-transform: uppercase;
  font-weight: 600;    
  padding: 1rem;    
  border: 1px solid $secondary-color;
  border-radius: 5px; 
  outline: none; 
  transition: all .3s ease-in;    
}

@mixin flexCenter($direction){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin banner {  
  background: $secondary-color;      
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
}
