$primary-color: #272343;
$secondary-color: #ffd803;
$tertiary-color: #bae8e8;
$tertiary-color-light: #e3f6f5;
$light-color:#fffffe;
$dark-color: #2d334a;

$website-width: 1200px;
$mobile-width: 350px;



// $primary-color:#000c42; logo
// $secondary-color:#bb9a06; logo